<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img width="100" src="assets/logo.png">
<!--       <div>
        <ion-button fill="clear" routerLink="/tabs/tab3">
          <ion-icon slot="icon-only" name="cart" [color]="cartItemsCount > 0 ? 'primary' : 'medium'"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="cartItemsCount > 0" color="primary">{{ cartItemsCount }}</ion-badge>
      </div> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="list-items" *ngIf="favorites.length > 0; else elseFavorites">
    <ion-card *ngFor="let item of favorites">
      <!-- <img [src]="item.image" [alt]="item.name" /> -->
      <img src="https://png.pngtree.com/png-vector/20230830/ourmid/pngtree-3d-burger-illustration-png-image_9187823.png">

      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle>R$ {{ item.price.toFixed(2) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="feedback">
          <ion-icon name="star"></ion-icon>
          {{ item.stars }}
        </div>
        <div>

          <ion-button fill="clear" (click)="toggleFavorite(item)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #elseFavorites>
    <p class="ion-text-center">Você não possui favoritos</p>
  </ng-template>
</ion-content>
