.header-content{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
}

.amount{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 1rem;

    .amount-description{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

ion-item{
    --padding-start: 0;
}

ion-button{
    --border-width: 1px;
    --border-color: #CCC;
}